---
# **Base de Datos: 1**

---

### 1. Fuentes de datos

**Localización**: Anexo 1

Información de compañías de tarjetas de crédito a través de las cuales se pueden reconocer las transacciones de tarjetas de crédito fraudulentas para que a los clientes no se les cobre por artículos que no compraron.

Fuente: https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud?resource=download

### 2. Breve descripción de datos

El conjunto de datos contiene transacciones realizadas con tarjetas de crédito en septiembre de 2013 por titulares de tarjetas europeos.
El conjunto de datos está muy desequilibrado, la clase positiva (fraudes) representa el 0,172 % de todas las transacciones.
Contiene solo variables de entrada numéricas que son el resultado de una transformación PCA. Desafortunadamente, debido a problemas de confidencialidad, no podemos proporcionar las características originales ni más información general sobre los datos. Las características V1, V2, … V28 son los principales componentes obtenidos con PCA,
las únicas características que no se han transformado con PCA son 'Tiempo' y 'Cantidad'. La característica 'Tiempo' contiene los segundos transcurridos entre cada transacción y la primera transacción en el conjunto de datos. La función 'Cantidad' es la cantidad de la transacción, esta función se puede utilizar para el aprendizaje sensible a los costos dependiente del ejemplo.
Feature 'Class' es la variable de respuesta y toma valor 1 en caso de fraude y 0 en caso contrario.

Dada la relación de desequilibrio de clase, recomendamos medir la precisión utilizando el área bajo la curva de recuperación de precisión (AUPRC). La precisión de la matriz de confusión no es significativa para la clasificación desequilibrada.

### 3. ¿Cuál es el objetivo?



*   Determinar fraaudes existentes en el conjunto de 284,807 transacciones.

### 4. ¿Este es un problema de clasificación o regresión?

Es un problema de clasificación

### 5. ¿Cuántas características hay?

In [23]:
import pandas as pd

# Importar el archivo CSV
datos = pd.read_excel("/content/Base1.xlsx")

# Imprime las primeras filas del DataFrame
datos.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807e+13,-7.278117e-02,2.536347e+14,1.378155e+14,-0.338321,4.623878e-01,0.239599,0.098698,3.637870e-01,...,-0.018307,0.277838,-0.110474,6.692807e-02,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857e+14,2.661507e-01,1.664801e-01,4.481541e-01,0.060018,-8.236081e-02,-0.078803,0.085102,-2.554251e-01,...,-0.225775,-0.638672,0.101288,-3.398465e-01,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354e+14,-1.340163e+14,1.773209e+14,3.797796e-01,-0.503198,1.800499e+14,0.791461,0.247676,-1.514654e+14,...,0.247998,0.771679,0.909412,-6.892810e-01,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-9.662717e-01,-1.852260e-01,1.792993e+14,-8.632913e-01,-0.010309,1.247203e+14,0.237609,0.377436,-1.387024e+14,...,-0.108300,0.005274,-0.190321,-1.175575e+14,0.647376,-0.221929,0.062723,0.061458,123.50,0

### 6. ¿Cuántas filas de datos hay?

Hay 284808 filas y 31 columnas

### 7. ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?

En la modelación existe retos de identificar patrones en los cuales se pueda verificar fraudes

---
# **Base de Datos: 2**

---

### 1. Fuentes de datos

**Localización**: Anexo 2

Información de paises que identofican niveles de produccion en los ultimos 40 años en America Latina

Fuente: https://www.fao.org/faostat/en/#data/QI

### 2. Breve descripción de datos

Se plantea los niveles de producción por país. El nivel de detalle describe la produccion en mas de 20 productos. Muestra la variación en 40 años.

### 3. ¿Cuál es el objetivo?



*   Determinar los niveles de producción por país y las posibles repecuciones en la seguridad alimentaria del Ecuador

### 4. ¿Este es un problema de clasificación o regresión?

Es un problema de regresión

### 5. ¿Cuántas características hay?

In [19]:
import pandas as pd

# Importar el archivo CSV
df = pd.read_excel("/content/Base2.xlsx")


# Imprime las primeras filas del DataFrame
df.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
0,8,'028,Antigua and Barbuda,1107,'02132,Asses,5111,Stocks,Head,2.300000e+09,...,1700000000,1700000000,1700000000,1703000000,1707000000,1713000000,1729000000,1729000000,1733000000,1738000000
1,8,'028,Antigua and Barbuda,486,'01312,Bananas,5312,Area harvested,ha,NaN,...,35000000,32000000,35000000,37000000,41000000,44000000,43000000,39000000,11000000,25000000
2,8,'028,Antigua and Barbuda,486,'01312,Bananas,5419,Yield,hg/ha,NaN,...,71429000000,79454000000,73603000000,70714000000,56432000000,41910000000,29917000000,17930000000,4159000000,1972000000

### 6. ¿Cuántas filas de datos hay?

Tiene 11282 filas y 64 columnas

### 7. ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?

Verificar celdas vacias e inconsistencias entre los añoss 1961 y 1980, dados los mecanismos de almacenamiento de datos